/* ACCESSIBILITY SIDE */
#body {
    padding: 1rem 0;
}
#body p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
}
#body img {
    max-width: 51%;
}

@media only screen and (max-width: 800px) {
    #body img {
        max-width: 100% !important;
    }
}
