ol {
    list-style: none;
    padding-left: 0;
}

ol > li:before {
    content: attr(seq);
}

#informasjon .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#informasjon .container > * {
    width: 100%;
}
@media (min-width: 1025px) {
    #informasjon .container {
        flex-direction: row;
    }
}

#book {
    padding-bottom: 2rem;
}
#book a {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    background-color: var(--dark-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 0.25rem;
}
