body{
   
}

ol {
    list-style: none;
    padding-left:0;
  }
  
ol>li:before {
content: attr(seq);

}
.kart{
    display: flex;
    flex-direction: row;
    margin-left: 850px;
    margin-top: -350px;
}


  td {
    border-radius: 10px;
}

td a {
    padding: 8px 12px;
    transition-duration: 0.4s;
    color: aliceblue;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 30px 70px;
    border: 3px solid green;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;  
}
td a:hover{
    background-color: var(--dark-primary);

}
