body {
    background-color: var(--white);
}

#informasjon .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 24px;
}

@media (max-width: 768px) {
    #informasjon .container {
        flex-direction: column;
    }
}

#informasjon p,
#informasjon a {
    max-width: 500px;
    padding: 0 1rem;
    font-size: 1.2rem;
}

#informasjon :nth-child(2) {
    display: flex;
    flex-direction: column;
}

#informasjon img {
    padding: 0 1rem;
    width: 90%;
    height: auto;
    object-fit: cover;
    max-width: 800px;
}

#bildekarusell h2 {
    font-size: 2rem;
    text-align: center;
}
#bildekarusell {
    margin: 80px auto;
    overflow: hidden;
}

#bildekarusell img {
    max-width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    object-fit: cover;
}

#referanser {
    padding: 0 1rem;
    margin: 80px auto;
}

#referanser h2 {
    font-size: 2rem;
    text-align: center;
}

#referanser ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

@media (max-width: 768px) {
    #referanser ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    #referanser ul {
        grid-template-columns: 1fr;
    }
}

#referanser ul li {
    list-style: none;
    background-color: white;
    box-shadow: 3px 3px 20px 3px #00000010;
    border-radius: 10px;
    padding: 16px 36px;
}

#referanser ul li :nth-child(1) {
    font-size: 1rem;
    word-wrap: break-word;
}

#referanser ul li :nth-child(2) {
    font-size: 1.3rem;
}

#star {
    color: goldenrod;
}
