body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
main h2 {
    border: #7f161e solid 2px;
    text-align: center;
    font-size: 40px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    font-family: Arial, sans-serif;
}

.informasjon {
    font-size: 25px;
    display: flex;
    align-items: center;
    border: #7f161e solid 2px;
}
.infoBilde {
    flex-basis: 20%;
}

main p {
    margin: 20px;
    padding-left: 20px;
}

.bildekarusell {
    width: 700px;
    height: 400px;
    position: relative;
    margin: 150px auto;
    overflow: hidden;
    background-color: #7f161e;
}
.bilde {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 0px;
}
@keyframes innFraHoyre {
    from {
        left: 700px;
    }
    to {
        left: 0px;
    }
}
@keyframes UtTilVenstre {
    from {
        left: 0px;
    }
    to {
        left: -700px;
    }
}
.referanser {
    font-size: 20px;
}
