body {
    background: var(--dark-primary);
    color: white;
}

a {
    color: rgb(128, 255, 0);
}

h2 {
    font-size: 2rem;
}

#hero .container div {
    padding-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

#hero .container div a {
    font-size: 1.2rem;
    background-color: #842a2a;
    color: white;
    padding: 1rem;
}

@media (max-width: 900px) {
    #hero .container div {
        grid-template-columns: repeat(2, 1fr);
    }
}

#person .container div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#person .container p {
    max-width: 560px;
    font-size: 1.3rem;
}
#person .container img {
    aspect-ratio: 2;
    object-fit: cover;
}

@media (max-width: 1024px) {
    #person .container * {
        max-width: 100%;
    }
    #person .container div {
        flex-direction: column-reverse;
    }
}

#nadia p {
    font-size: 1.3rem;
}

#nadia .container div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 1024px) {
    #nadia .container div {
        flex-direction: column;
    }
}
#problemer ol,
#løsninger ol {
    list-style: none;
    counter-reset: item;
}
#problemer li,
#løsninger li {
    font-size: 1.3rem;
    counter-increment: item;
    margin-bottom: 0.8rem;
}
#problemer li:before,
#løsninger li:before {
    margin-right: 10px;
    content: counter(item);
    background-color: #7f161e;
    border-radius: 50%;
    float: left;
    width: 30px;
    text-align: center;
}

#problemer .container {
    display: flex;
    gap: 1rem;
}

#løsninger .container {
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
}

#løsninger img,
#problemer img {
    aspect-ratio: 1;
    object-fit: contain;
    max-width: 500px;
}

@media (max-width: 1024px) {
    #problemer .container img {
        display: none;
    }
    #løsninger .container img {
        display: none;
    }
}
