.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.footer {
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
